/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-discription {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.btn-margin {
    margin-right: 30px;
}

.btn-contact {
    background: white;
    color: #FD6E0A;
    border: 2px solid#FD6E0A;
}


/* main section styles */
main{
    margin: 0 auto;
    max-width: 1140px;
}
.section-title {
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 130px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}